In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import datetime as dt
import numpy as np

In [2]:
# Load and read data
final_data=["Final_data/house_price.csv","Final_data/immigrants.csv","Final_data/mortgage_rates.csv"]
dfs=[pd.read_csv(f) for f in final_data]
dfs[0]

        Date  Composite_HPI_SA  Composite_Benchmark_SA
0    2005-01             100.0                  221100
1    2005-02             100.6                  222500
2    2005-03             101.4                  224200
3    2005-04             102.2                  225900
4    2005-05             102.8                  227400
..       ...               ...                     ...
199  2021-08             326.5                  721900
200  2021-09             333.9                  738200
201  2021-10             343.5                  759500
202  2021-11             351.4                  777000
203  2021-12             357.5                  790400

[204 rows x 3 columns]

In [4]:
# Create final dataframe
final_df = pd.merge(pd.merge(dfs[0],dfs[1],on='Date'),dfs[2],on='Date')
final_df

ValueError: You are trying to merge on datetime64[ns] and object columns. If you wish to proceed you should use pd.concat

In [ ]:
final_df=final_df.rename(columns={'Composite_HPI_SA':'HPI','Composite_Benchmark_SA':'Price'})

In [ ]:
# Export final dataframe to csv file
final_df.to_csv("Final_data/FINALDB.csv",index=False)
final_df

In [ ]:
final_df.dtypes

In [ ]:
final_df["Date"] = pd.to_datetime(final_df["Date"])
final_df['Date']=final_df['Date'].map(dt.datetime.toordinal)
final_df.dtypes

In [ ]:
# Plot the price data
final_df.plot.line(figsize=(12,8),y="Price",fontsize=14)

In [7]:
dfs[0]["Date"] = pd.to_datetime(dfs[0]["Date"])
dfs[0].to_csv("house_price.csv",index=False)

In [8]:
dfs[1]["Date"] = pd.to_datetime(dfs[1]["Date"])
dfs[1].to_csv("immigrants.csv",index=False)

In [9]:
dfs[2]["Date"] = pd.to_datetime(dfs[2]["Date"])
dfs[2].to_csv("mortgage_rate.csv",index=False)

# Linear Regression Model

In [ ]:
# Create our features
X = final_df.drop("Price",axis=1)

# Create our target
y = final_df.Price

In [ ]:
X.describe()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train.shape

In [ ]:
# Create the model by using LinearRegression
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
# Fit the model to training data
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

In [ ]:
print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

# Use our model to make predictions
predicted = model.predict(X_test)

In [ ]:
# Score the predictions with mse and r2
mse = mean_squared_error(y_test, predicted)
r2 = r2_score(y_test, predicted)
print(f"mean squared error (MSE): {mse}")
print(f"R-squared (R2): {r2}")

In [ ]:
model.score(X_test, y_test)

In [ ]:
plt.scatter(model.predict(X_train), model.predict(X_train) - y_train, c="blue", label="Training Data")
plt.scatter(model.predict(X_test), model.predict(X_test) - y_test, c="orange", label="Testing Data")
plt.legend()
plt.hlines(y=0, xmin=y.min(), xmax=y.max())
plt.title("Residual Plot")
plt.show()