In [1]:
import pandas as pd
import glob

In [2]:
House_price_df = pd.read_csv('house_price.csv')
print(House_price_df)

        Date  Composite_HPI_SA  Composite_Benchmark_SA
0    2005-01             100.0                  221100
1    2005-02             100.6                  222500
2    2005-03             101.4                  224200
3    2005-04             102.2                  225900
4    2005-05             102.8                  227400
..       ...               ...                     ...
199  2021-08             326.5                  721900
200  2021-09             333.9                  738200
201  2021-10             343.5                  759500
202  2021-11             351.4                  777000
203  2021-12             357.5                  790400

[204 rows x 3 columns]

In [3]:
House_price_df.dtypes

Date                       object
Composite_HPI_SA          float64
Composite_Benchmark_SA      int64
dtype: object

In [8]:
House_price_df['Date'] = pd.to_datetime(House_price_df['Date'])
House_price_df.dtypes

Date                      datetime64[ns]
Composite_HPI_SA                 float64
Composite_Benchmark_SA             int64
dtype: object

In [9]:
immigrants_df = pd.read_csv('immigrants.csv')
print(immigrants_df)

        Date    Immigrants
0    2005-01  18812.666667
1    2005-02  18812.666667
2    2005-03  18812.666667
3    2005-04  24823.666667
4    2005-05  24823.666667
..       ...           ...
199  2021-08  40970.333333
200  2021-09  40970.333333
201  2021-10  46063.333333
202  2021-11  46063.333333
203  2021-12  46063.333333

[204 rows x 2 columns]

In [10]:
immigrants_df.dtypes

Date           object
Immigrants    float64
dtype: object

In [11]:
immigrants_df['Date'] = pd.to_datetime(immigrants_df['Date'])
immigrants_df.dtypes

Date          datetime64[ns]
Immigrants           float64
dtype: object

In [12]:
mortgage_rates_df = pd.read_csv("mortgage_rates.csv")
print(mortgage_rates_df)

        Date  Mortgage Rate
0    2005-01           5.60
1    2005-02           5.59
2    2005-03           5.60
3    2005-04           5.67
4    2005-05           5.55
..       ...            ...
199  2021-08           3.20
200  2021-09           3.22
201  2021-10           3.29
202  2021-11           3.40
203  2021-12           3.45

[204 rows x 2 columns]

In [13]:
mortgage_rates_df.dtypes

Date              object
Mortgage Rate    float64
dtype: object

In [14]:
mortgage_rates_df['Date'] = pd.to_datetime(mortgage_rates_df['Date'])
mortgage_rates_df.dtypes

Date             datetime64[ns]
Mortgage Rate           float64
dtype: object

In [15]:
# Get data file names
path = r'C:\Users\priya\OneDrive\Desktop\Data_Analysis_Class\Housing_Price_Analysis'
filenames = glob.glob(path + "/*.csv")

In [16]:
Housing_data_4analysis_df = []
for filename in filenames:
    Housing_data_4analysis_df.append(pd.read_csv(filename))

In [17]:
# Concatenate all data into one DataFrame
Big_frame_Housingdata = pd.concat(Housing_data_4analysis_df, ignore_index=True)
Big_frame_Housingdata

,Date,Composite_HPI_SA,Composite_Benchmark_SA,Immigrants,Mortgage Rate
0,2005-01,100.0,221100.0,NaN,NaN
1,2005-02,100.6,222500.0,NaN,NaN
2,2005-03,101.4,224200.0,NaN,NaN
3,2005-04,102.2,225900.0,NaN,NaN
4,2005-05,102.8,227400.0,NaN,NaN
...,...,...,...,...,...
607,2021-08,NaN,NaN,NaN,3.20
608,2021-09,NaN,NaN,NaN,3.22
609,2021-10,NaN,NaN,NaN,3.29
610,2021-11,NaN,NaN,NaN,3.40
611,2021-12,NaN,NaN,NaN,3.45

In [ ]:
#Big_frame_Housingdata.ffill()

In [19]:
from functools import reduce
dfs = [House_price_df, immigrants_df, mortgage_rates_df]

In [20]:
final_df = reduce(lambda left, right: pd.merge(left, right, on=['Date']), dfs)
print(final_df)

          Date  Composite_HPI_SA  Composite_Benchmark_SA    Immigrants  \
0   2005-01-01             100.0                  221100  18812.666667
1   2005-02-01             100.6                  222500  18812.666667
2   2005-03-01             101.4                  224200  18812.666667
3   2005-04-01             102.2                  225900  24823.666667
4   2005-05-01             102.8                  227400  24823.666667
..         ...               ...                     ...           ...
199 2021-08-01             326.5                  721900  40970.333333
200 2021-09-01             333.9                  738200  40970.333333
201 2021-10-01             343.5                  759500  46063.333333
202 2021-11-01             351.4                  777000  46063.333333
203 2021-12-01             357.5                  790400  46063.333333

     Mortgage Rate
0             5.60
1             5.59
2             5.60
3             5.67
4             5.55
..             ...
199           3.20
200           3.22
201           3.29
202           3.40
203           3.45

[204 rows x 5 columns]